@model Library.ViewModelLayer.ViewModels.BookViewModel

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfPublishing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfPublishing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>

        <dd>
            @foreach (var author in Model.Authors)
            {
                @Html.Label(author.Name)
                <br />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationHouses)
        </dt>

        <dd>
            @foreach (var publicationHouse in Model.PublicationHouses)
            {
                @Html.Label(publicationHouse.Name)
                <br />
            }
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("admin"))
    {
        <text>@Html.ActionLink("Update", "UpdateView", new { id = Model.BookId }) |</text>
        <text>@Html.ActionLink("Save To Json", "SaveToJSON", new { id = Model.BookId }) |</text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>