@model IEnumerable<Library.ViewModelLayer.ViewModels.BookViewModel>

<p>
    @Html.ActionLink("Create New", "CreateView")
</p>

<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function () {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: function (e) {
                        $.ajax({
                            type: 'GET',
                            url: "Book/GetAll",
                            dataType: "json",
                            success: function (data) {
                                return e.success(data);
                            }
                        });
                    },
                },

                schema:
                {
                    model:
                    {
                        id: "BookId",
                        fields: {
                            BookId: { editable: false, nullable: true, type: "number" },
                            Name: { editable: true, nullable: true, type: "string" },
                            AuthorName: { editable: true, nullable: true, type: "string" },
                            YearOfPublishing: { editable: false, nullable: true, type: "number" },
                        }
                    }
                },
                batch: false,
                pageSize: 10

            });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                groupable: true,
                sortable: true,
                editable: {
                    mode: "inline",
                    confirmation: false
                },

                columns: [
                    {
                        field: "Name",
                        title: "Name",
                        sortable: true
                    },
                    {
                        field: "AuthorName",
                        title: "Author",
                        sortable: true
                    },
                    {
                        field: "YearOfPublishing",
                        title: "Year",
                        sortable: true
                    },
                    {
                        field: "BookId",
                        title: "Actions",
                        sortable: false,
                        template:
                        '<a href="Book/GetByIdView/#= BookId #" >Get</a> | <a href="Book/UpdateView/#= BookId #" >Update</a> | <a href="Book/DeleteView/#= BookId #" >Delete</a>',
                    }

                ],
                height: "500px",
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
            }).data("kendoGrid");

        });
    </script>
</div>

<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfPublishing)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.YearOfPublishing)
            </td>
            <td>
                @Html.ActionLink("Read", "GetByIdView", new { id = book.BookId }) |
                @Html.ActionLink("Update", "UpdateView", new { id = book.BookId }) |
                @Html.ActionLink("Delete", "DeleteView", new { id = book.BookId })
            </td>
        </tr>
    }

</table>