<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.material.mobile.min.css" />
    <link href="~/Content/kendo-small.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo-small.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <header class="masthead">
            <h3 class="text-muted">Amazing SUPER-DUPER Library</h3>
            <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav text-md-center nav-justified w-100">
                        <li class="nav-item active">
                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link", data_icon = "gear" })
                            <span class="sr-only">(current)</span>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("All Publications", "AllPublications", "Home", null, new { @class = "nav-link", data_icon = "gear" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Books", "Index", "Book", null, new { @class = "nav-link", data_icon = "gear" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Authors", "Index", "Author", null, new { @class = "nav-link", data_icon = "gear" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Publication houses", "Index", "PublicationHouse", null, new { @class = "nav-link", data_icon = "gear" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Magazines", "Index", "Magazine", null, new { @class = "nav-link", data_icon = "gear" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Brochures", "Index", "Brochure", null, new { @class = "nav-link", data_icon = "gear" })
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main role="main">
            <hr />
            @RenderBody()
            <hr />
        </main>

        <footer class="footer">
            <p>&copy; Company 2017</p>
        </footer>

    </div>
</body>
</html>
