@model Library.ViewModelLayer.ViewModels.AllPublicationsViewModel

<div>
    <h4>All Publications</h4>
    <dl class="dl-horizontal">
    </dl>
</div>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
    </tr>

    @foreach (var book in Model.Books)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => book.Name)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => book)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateView", "Book", new { id = book.BookId }, null) |
                @Html.ActionLink("Delete", "DeleteView", "Book", new { id = book.BookId }, null)
            </td>
        </tr>
    }
    @foreach (var magazine in Model.Magazines)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => magazine.Name)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => magazine)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateView", "Magazine", new { id = magazine.MagazineId }, null) |
                @Html.ActionLink("Delete", "DeleteView", "Magazine", new { id = magazine.MagazineId }, null)
            </td>
        </tr>
    }
    @foreach (var brochure in Model.Brochures)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => brochure.Name)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => brochure)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateView", "Brochure", new { id = brochure.BrochureId }, null) |
                @Html.ActionLink("Delete", "DeleteView", "Brochure", new { id = brochure.BrochureId }, null)
            </td>
        </tr>
    }

</table>
